<div id="side-list">
	<div class="actions">
		<button {{action "addJob"}}>Add Job</button>
	</div>
	<div>
		{{outlet "company"}}
		<ul>
			{{#each job in model}}
				<li>{{link-to job.title 'job.index' job}}</li>
			{{/each}}
		</ul>
	</div>
</div>

{{mapbox-map newBoundsAction="searchJobs" query=currentLocation newLocation=newLocation store=store selectedMarker="selectedMarkerAction" id="map"}}
